@charset "UTF-8";

:root {
  --rosaclaro: #f7e9bfd6;
  --laranja: #f28322;
  --rosa: #f2bf91;
  --vermelho: #d94436;
  --rosamedio: #f2ada7;

  --fonte-padrao: sans-serif, Tahoma, Arial, Verdana, Helvetica;
  --fonte-logo: Arial, Tahoma, sans-serif;
  --fonte-teste: Georgia, serif;
}

* {
  font-family: "Poppins", sans-serif;
  margin: 0px;
  padding: 0px;
}

body {
  background-color: var(--rosaclaro);
  overflow-x: hidden;
}
h2 {
  color: rgb(119, 31, 31);
}
main {
  max-width: 990px;
  margin: auto;
  background-color: var(--rosa);
}

header {
  background-color: var(--rosamedio);
  display: flex;
  min-height: 100px;
  padding-top: 30px;
  padding-left: 20px;
  padding-left: 10px;
  width: 100%;
  /*baixar a fonte utilizada na logo*/
}

.cabecalho {
  width: 100vw;
  display: flex;
  padding-left: 20px;
  padding-right: 60px;
  justify-content: space-between;
}

.cook > h1 {
  color: var(--vermelho);
  padding-top: 5px;
  padding-bottom: 10px;
  font-family: var(--fonte-logo);
  text-shadow: 2px 2px 0px #0202024b;
}

.cook > p {
  color: var(--vermelho);
  margin: auto;
  font-family: var(--fonte-padrao);
}

.cook > .login {
  text-align: right;
}

nav {
  background-color: var(--vermelho);
  overflow: hidden;
  padding: 14px 16px;
  box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.192);
}

nav > a {
  color: white;
  padding: 10px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  transition-duration: 0.5s;
}

nav > a:hover {
  background-color: var(--rosa);
  color: var(--vermelho);
}

nav input[type="text"] {
  float: right;
  border: 1px solid black;
  padding: 1px;
  margin-right: 16px;
  font-size: 17px;
  box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.192);
}
/* Missao Visao Valores */
.mvv {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 990px;
  margin: auto;
  flex-wrap: nowrap;
  align-items: center;
  background-color: var(--rosamedio);
  padding: 10px 40px;
  border: 3px;
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 990px;
  margin: auto;
  flex-wrap: nowrap;
  align-items: center;
  background-color: var(--rosamedio);
  padding: 10px 40px;
  border: 3px;
  margin-top: 10px;
}

.mvvfilho {
  border-style: solid;
  border-color: var(--rosa);

  max-width: 30%;
  min-height: 90%;
}

.mvvfilho > h2 {
  text-align: center;
  padding: 5px;
}

.mvvfilho > p {
  text-align: justify;
  padding: 5px;
}

.post {
  justify-content: center;
  align-items: baseline;
  display: flex;
}

.prop {
  max-width: 300px;
  min-height: 610px;
  margin-top: 10px;
}

.postPai {
  display: flex;
  flex-direction: column;
  max-width: 260px;
  min-height: 580px;
  margin: auto;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background-color: var(--rosamedio);
  padding: 10px 40px;
  border: 3px;
  margin-top: 10px;
}

.postfilho {
  border-style: solid;
  border-color: var(--rosa);
  width: auto;
  padding: 12px;
  margin-top: 10px;
}

.postfilho > h2 {
  text-align: center;
  padding: 5px;
}

.postfilho > p {
  text-align: justify;
  padding: 5px;
}

footer {
  background-color: var(--vermelho);
}

/* FORMULÃRIO DE ADD RECEITAS */
.formsection {
}

.formcontainer {
  max-width: 500px;
  background-color: #f2ada7bb;
  padding: 40px;
  text-align: center;
}

.margin {
  margin-bottom: 20px;
}

.addinput {
  width: 60%;
  box-sizing: border-box;
  padding: 3px;
  border: none;
  margin-bottom: 10px;
  border-radius: 10px;
}
.sumario {
}

/* textarea {
  width: 100%;
  box-sizing: border-box;
  padding: 3px;
  border: none;
  margin-bottom: 10px;
} */

@media screen and (min-width: 0px) and (max-width: 600px) {
  nav > a,
  nav input[type="text"] {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
    width: auto;
  }
  .mvv {
    display: flex;
    flex-direction: column;
    max-width: 260px;
    margin: auto;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: var(--rosamedio);
    padding: 10px 40px;
    border: 3px;
    margin-top: 10px;
  }

  .mvv > p {
    text-align: center;
  }

  header {
    width: auto;
  }
  .imagens {
    width: 100%;
  }
  .video {
    width: 100%;
  }

  .publiE {
    display: none;
  }

  .publi2 {
    display: none;
  }
}
@media screen and (min-width: 600px) and (max-width: 1024px) {
  /* OK */

  .mvv {
    width: 100%;
  }
  /* OK */

  .mvvfilho {
    width: 300px;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  /* OK */
  .mvvfilho > p {
    text-align: center;
  }

  .post {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .prop {
    width: 240px;
    height: 500px;
    margin-top: 20px;
  }

  .postfilho {
    width: 200px;
  }
}
