@charset "UTF-8";

:root {
  --rosaclaro: #f2dea2;
  --laranja: #f28322;
  --rosa: #f2bf91;
  --vermelho: #d94436;
  --rosamedio: #f2ada7;

  --fonte-padrao: Tahoma, Arial, Verdana, Helvetica, sans-serif;
}
body {
  background-color: var(--rosaclaro);
  font-family: var(--fonte-padrao);
}

header {
  background-color: var(--rosa);
  color: var(--vermelho);
  /*baixar a fonte utilizada na logo*/
}

footer {
  background-color: --rosa;
}

/* Parte das avaliações */
.stars {
  display: flex;
  flex-direction: row;
}
